p.caption {
  color: #777;
  margin-top: 10px;
  text-align: left;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.flushright {
  text-align: right;
}

pre.numberSource code>span>a:first-child::before {
  left: -0.3em;
}

.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}

.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}

.level1 h1 {
  border-bottom: 1px solid;
}

.level1 {
  padding-bottom: 5em;
}

.title {
  display: none;
}

.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h3,
.book .book-body .page-wrapper .page-inner section.normal h4,
.book .book-body .page-wrapper .page-inner section.normal h5,
.book .book-body .page-wrapper .page-inner section.normal h6 {
  font-weight: unset;
}

h1 { 
  text-transform: uppercase;
}

h2 {
  padding-top: 2.5em;
  font-style: italic;
}

h3 {
  padding-top: 1em;
}

h4 {
  padding-top: 0.5em;
  font-style: italic;
  text-align: center;
  border-top: 1px solid lightgrey;
}

.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}  

.book .book-body .page-wrapper .page-inner section.normal pre a {
  color: inherit;
}  

details[open] {
  padding-bottom: 1em;
}

details[open] summary {
  padding-bottom: 1em;
}

details[open] p:first-of-type {
  text-align: center;
}