@charset "UTF-8";
#mainMenu {
  display: flex;
  font-family: "Helvetica", "Roboto", sans-serif;
  position: fixed;
  opacity: 0.9;
  background-color: white;
  z-index: 2; }
  #mainMenu .menuItem {
    color: black;
    display: block;
    transition: 0.3s font-weight;
    font-weight: normal; }
    #mainMenu .menuItem:hover {
      color: crimson; }
  #mainMenu .menuSelected {
    color: black;
    font-weight: bold; }

@media (min-width: 850px) {
  #mainMenu {
    flex-direction: column;
    justify-content: center;
    height: 75%;
    left: 0px;
    width: 20ex;
    line-height: 3;
    text-align: right; }
  .menuItem {
    padding-left: 20px;
    padding-right: 20px; }
  .menuSelected {
    border-right: 0.5px solid black; } }

@media (max-width: 850px) {
  #mainMenu {
    line-height: 4;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    top: 0px;
    left: 0px;
    padding-top: 0px;
    border-bottom: 1px solid #d2d7da;
    width: 100%; }
  .menuItem {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: center; }
  .menuSelected {
    border-bottom: 0.5px solid black; } }

body {
  font-family: "Roboto", sans-serif;
  color: #222;
  font-size: 100%;
  font-weight: 300;
  background-color: white;
  margin: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  line-height: 1.75em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (min-width: 850px) {
    body {
      margin-left: 20ex;
      margin-right: 20ex;
      padding-left: 50px;
      padding-right: 50px; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Roboto", sans-serif; }

.logo {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  text-align: center; }
  .logo img {
    width: 80%;
    max-width: 500px; }

a {
  font-weight: normal;
  text-decoration: none;
  color: peru; }
  a:link {
    color: forestgreen; }
  a:hover {
    color: crimson; }

.external-link {
  position: relative; }
  .external-link:hover::after {
    content: '➚';
    position: absolute;
    top: -0.75em; }

.section-wrapper {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 200px);
  margin-bottom: 100vh; }

.section {
  width: 100%; }
  @media (max-width: 850px) {
    .section {
      scroll-margin-top: 75px; } }

.small-section {
  padding-top: 150px; }

.section-title {
  padding-bottom: 30px;
  border-bottom: 1px solid #d2d7da; }
  @media (max-width: 850px) {
    .section-title {
      margin-left: 15px;
      margin-right: 15px; } }

.section-body {
  padding-top: 2.5px;
  margin-left: 15px; }
  @media (max-width: 850px) {
    .section-body {
      margin-left: 15px;
      margin-right: 15px; } }

.two-column-data {
  line-height: 1.5em;
  border-spacing: 0px;
  margin-left: 15px;
  padding: 10px; }
  .two-column-data td:nth-child(1),
  .two-column-data th:nth-child(1) {
    padding-right: 1ex; }
  .two-column-data td:nth-child(2) {
    padding-left: 10px;
    border-left: 2px solid lightgray; }

.notesTable {
  border: solid 1px #d2d7da;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 18ex 1fr;
  line-height: 1.25;
  grid-row-gap: 2em;
  align-items: start;
  font-size: small; }
  .notesTable h3 {
    margin: 0;
    padding: 0.5em;
    align-self: center; }
  .notesTable .nestedGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: start;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    padding: 0.5em;
    border-left: 2px solid lightgray; }

figure.figure-float-topleft {
  float: left;
  margin-left: 0px;
  margin-top: 22.5px; }
  figure.figure-float-topleft img {
    display: block;
    width: 250px; }

figure.figure-float-right {
  float: right;
  margin-right: 0px; }
  figure.figure-float-right img {
    width: 250px; }
  figure.figure-float-right figcaption {
    text-align: right;
    font-style: italic; }

.project-body {
  margin-left: 30px;
  margin-bottom: 45px; }

ul {
  margin-left: 30px;
  padding-left: 0px; }
