$max-width: 950px;
$unit-padding: 10px;
$unit-margin: 15px;
$text-fonts: 'Roboto', sans-serif;
$text-color: #222;
$header-fonts: 'Helvetica', 'Roboto', sans-serif;
$line-height: 1.75em;
$menu-width: 30em;
$border-color: #d2d7da;