a {
  font-weight: normal;
  text-decoration: none;
  color: $hyperlink-color;

  &:link {
    color: $hyperlink-visited-color;
  }

  &:hover {
    color: $hyperlink-hover-color;
  }
}

.external-link {
  position: relative;

  &:hover::after {
    content: '➚';
    position: absolute;
    top: -0.75em;
  }
}
