$max-width: 850px;
$unit-padding: 10px;
$unit-margin: 15px;

$font-size: 100%;
$text-fonts: 'Roboto', sans-serif;
$header-fonts: 'Helvetica', 'Roboto', sans-serif;
$font-weight: 300;
$line-height: 1.75em;

$text-color: #222;
$background-color: white;
$border-color: #d2d7da;

$menu-width: 20ex;
$menu-background-color: white;
$menuItem-color: black;
$menuSelected-color: black;
$menuItem-hover-color: crimson;

$hyperlink-color: peru;
$hyperlink-hover-color: crimson;
$hyperlink-visited-color: forestgreen;

// $max-width: 850px;
// $unit-padding: 10px;
// $unit-margin: 15px;
// $text-fonts: 'Roboto',
// sans-serif;




///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////


// $max-width: 950px;
// $unit-padding: 10px;
// $unit-margin: 15px;

// $font-size: 120%;
// $text-fonts: 'Roboto',
// sans-serif;
// $header-fonts: 'Helvetica',
// 'Roboto',
// sans-serif;
// $font-weight: 200;
// $line-height: 1.75em;

// $text-color: white;
// $background-color: #202020;

// $menu-width: 20ex;
// $menu-background-color: #eeeeee;
// $menuItem-color: grey;
// $menuSelected-color: white;
// $menuItem-hover-color: white;

// $border-color: grey;
// $hyperlink-color: skyblue;
// $hyperlink-hover-color: lightgreen;
// $hyperlink-visited-color: skyblue